body {
	font-family: sans-serif;
	background-color: #FFFCE6;
}

h1 {
	color: brown;
}

blockquote {
	margin-left: 0;
	font-style: italic;
}

.fullwidth {
	width: 100%;
}

#alfabet {
	list-style-type: none;
	padding-left: 0;
}
#alfabet li {
	display: inline;
}

dd {
	margin-left: 0;
	font-weight: bold;
}